<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright 2025 The Android Open Source Project

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nav3Recipes"
        android:enableOnBackInvokedCallback="true"
        android:name=".content.Nav3RecipesApplication"
        tools:targetApi="31">
        <activity
            android:name=".RecipePickerActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Nav3Recipes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.BasicActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Nav3Recipes"/>
        <activity
            android:name=".commonui.CommonUiActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Nav3Recipes"/>
        <activity
            android:name=".basicdsl.BasicDslActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Nav3Recipes"/>
        <activity
            android:name=".basicsaveable.BasicSaveableActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Nav3Recipes"/>
        <activity
            android:name=".scenes.materiallistdetail.MaterialListDetailActivity"
            android:exported="true"
            android:theme="@style/Theme.Nav3Recipes"/>
        <activity
            android:name=".scenes.twopane.TwoPaneActivity"
            android:exported="true"
            android:theme="@style/Theme.Nav3Recipes"/>
        <activity
            android:name=".animations.AnimatedActivity"
            android:exported="true"
            android:theme="@style/Theme.Nav3Recipes"/>
        <activity
            android:name=".conditional.ConditionalActivity"
            android:exported="true"
            android:theme="@style/Theme.Nav3Recipes"/>
        <activity
            android:name=".passingarguments.basicviewmodels.BasicViewModelsActivity"
            android:exported="true"
            android:theme="@style/Theme.Nav3Recipes"/>
        <activity
            android:name=".passingarguments.injectedviewmodels.InjectedViewModelsActivity"
            android:exported="true"
            android:theme="@style/Theme.Nav3Recipes"/>
    </application>

</manifest>